<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Index</title>
</head>
<body>

<div th:each="flight : ${flights}">
  <a
     th:text="${flight.getNumber() + ', ' + flight.getFromCity()+ ', ' + flight.getToCity()+ ', '+ flight.getSendTime()}">flight</a>
<!--  <a th:href="@{/delete/{id}(id=${flight.getId_f()})}">Delete flight</a>-->
  <form th:method="DELETE" th:action="@{/flight/delete/{id}(id=${flight.getId_f()})}">
    <input type="submit" value="Delete flight"/>
  </form>
</div>

<br/>
<hr/>

<!--<a href="//new">Create new person</a>-->

</body>
</html>